---
- name: Install and start NGINX on web servers
  hosts: webservers
  become: yes

  tasks:
    - name: Install NGINX
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Start and enable NGINX
      systemd:
        name: nginx
        state: started
        enabled: yes

